*{
    font-family: Arial, Helvetica, sans-serif;
}
.pie{
    height: 300px;
    width: 300px;
    background-color: blue;
    border-radius: 50%;
    background-image: conic-gradient(
        rgb(142, 240, 150) 55deg, 
        rgb(24, 235, 171) 0 140deg, 
        rgb(28, 197, 209) 0 260deg, 
        rgb(31, 135, 233) 0);
        position: absolute;
        bottom: 17%;
        left: 17%;
}
.cir{
    position: absolute;
    height: 155px;
    width: 155px;
    background-color: white;
    border-radius: 50%;
    top: 24%;
    left: 24%;
}
.pr1{
    position: absolute;
    color: rgb(70, 69, 69);
    top: 40%;
    left: 14.5%; 
}
.pr2{
    position: absolute;
    color: rgb(70, 69, 69);
    top: 32%;
    left: 33.5%; 
}
.pr3{
    position: absolute;
    color: rgb(70, 69, 69);
    top: 59%;
    left: 40%; 
}
.pr4{
    position: absolute;
    color: rgb(70, 69, 69);
    top: 82%;
    left: 22%; 
}
.main{
    height:360px;
    width: 30%;
    /* background-color: rgb(227, 231, 230); */
    position: absolute;
    right: 25%;
    bottom: 12%;
}
.dot1,.dot2,.dot3,.dot4{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    position: absolute;
}
.dot1{
    background-color: rgb(142, 240, 150);
    top: 5%;
    left: 2%;
}
.dot2{
    background-color: rgb(24, 235, 171);
    top: 30%;
    left: 2%;
}
.dot3{
    background-color: rgb(28, 197, 209);
    top: 55%;
    left: 2%;
}
.dot4{
    background-color: rgb(31, 135, 233);
    top: 80%;
    left: 2%;
}
.p1,.p2,.p3,.p4{
    font-weight: bold;
    font-size: 17px;
    color: rgb(70, 69, 69);
    position: absolute;
    left: 15%;
}
.p1{
    top: 0%;
}
.p2{
    top: 25%;
}
.p3{
    top: 50%;
}
.p4{
    top: 75%;
}
.p5,.p6,.p7,.p8{
    font-size: 12px;
    color: rgb(136, 135, 135);
    position: absolute;
    left: 15%;
}
.p5{
    top: 8%;
}
.p6{
    top: 33%;
}
.p7{
    top: 58%;
}
.p8{
    top: 83%;
}
h1{
    font-size: 42px;
    color: rgb(70, 69, 69);
    position: absolute;
    top: 15%;
    left: 27.5%;
}
.icon1,.icon2,.icon3,.icon4{
    height: 35px;
    width: 35px;
    position: absolute; 
}
.icon1{
    top: 70px;
    left: 35px;
    filter: invert();
}
.icon2{
    top: 13%;
    left: 62%;
    filter: invert();
}
.icon3{
    top: 49%;
    left: 81%;
    filter: invert();
}
.icon4{
    top: 78%;
    left: 30%;
    filter: invert();
}